KAWAL_TEST_DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_STORAGE_URL=http://127.0.0.1:54321/storage/v1
TICKET_SIMULATOR_PORT=8000
REDPANDA_PORT=19092
REDPANDA_ADMIN_PORT=9644
OPA_PORT=8181
DOCKERHUB_USERNAME=hiiamanop
WATCHTOWER_POLL_INTERVAL=300
